body {
    color: #666666;
    background-color:#FFFFFF;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: #002171;
    color:#FFFFFF;
    font-family: Georgia, serif;
}

h1 {
    line-height: 200%;
    font-family:'Brush Script MT', cursive;
}

nav {
    font-weight: bold;
    background-color: #BBDEFB;
}

h2 {
    color: #1976D2;
}

dt {
    color: #002171;
    font-weight: bold;
}

.resort {
    color: #1976D2;
    font-size: 1.2em;
}

footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
}

.special {
    font-weight: bold;
    color: #660099;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}